@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-softGray font-sans text-gray-800;
  line-height: 1.6;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: overlay;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  height: 0 !important;
  background: transparent !important;
}

* {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

a {
  @apply text-inherit no-underline;
}

button {
  @apply cursor-pointer border-0 bg-transparent font-sans;
}

input,
textarea {
  @apply border-0 bg-transparent font-sans text-inherit outline-none;
}
